In [10]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import jinja2
import os

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

### Dataset Reviews Yelp

In [3]:
# Leer el archivo JSON como un Dask DataFrame en bloques de 128MB

df_rev_ye = dd.read_json(r'.\Raw Data\Yelp\review.json', lines=True, blocksize = '128MB')

In [4]:
# Despliegue de primeros 5 registros

df_rev_ye.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [5]:
# Drop de columnas innecesarias

f_rev_ye = df_rev_ye.drop(['useful','funny','cool'], axis = 1)

In [6]:
# Obtener informacion sobre el dataset de reviews

df_rev_ye.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 9 entries, review_id to date
dtypes: datetime64[ns](1), int64(4), string(4)

In [7]:
print(df_rev_ye.dtypes)

review_id      string[pyarrow]
user_id        string[pyarrow]
business_id    string[pyarrow]
stars                    int64
useful                   int64
funny                    int64
cool                     int64
text           string[pyarrow]
date            datetime64[ns]
dtype: object

In [8]:
print(df_rev_ye.npartitions)

41

In [9]:
num_rows = df_rev_ye.shape[0].compute()
print(num_rows)

6990280

In [10]:
null_counts = df_rev_ye.isnull().sum().compute()
print(null_counts)

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [11]:
descriptive_stats = df_rev_ye.describe().compute()
print(descriptive_stats)

              stars        useful         funny          cool  \
count  6.990280e+06  6.990280e+06  6.990280e+06  6.990280e+06
min    1.000000e+00 -1.000000e+00 -1.000000e+00 -1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  2.000000e+00  0.000000e+00  1.000000e+00
max    5.000000e+00  1.182000e+03  7.920000e+02  4.040000e+02
mean   3.748584e+00  1.184609e+00  3.265596e-01  4.986175e-01
std    1.478705e+00  3.253767e+00  1.688729e+00  2.172460e+00

                             date
count                     6990280
min           2005-02-16 03:23:22
25%    2016-03-21 14:36:42.500000
50%           2018-06-07 23:03:32
75%           2020-06-30 02:02:45
max           2022-01-19 19:48:45
mean                         <NA>
std                          <NA>

### Dataset Bussines de Yelp

In [12]:
# Lectura de pkl y despliegue de primeros 5 registros

df_bs_ye = pd.read_pickle(r'.\Raw Data\Yelp\business.pkl')
df_bs_ye.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Obtener informacion sobre Dataset Business

df_bs_ye.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
 14  business_id   5 non-null       object
 15  name          5 non-null       object
 16  address       5 non-null       object
 17  city          5 non-null       object
 18  state         5 non-null       object
 19  postal_code   5 non-null       object
 20  latitude      5 non-null       object
 21  longitude     5 non-null       object
 22  stars         5 non-null       object
 23  review_count  5 non-null       object
 24  is_open       5 non-null       object
 25  attributes    5 non-null       object
 26  categories    5 non-null       object
 27  hours         5 non-null       object
dtypes: object(28)
memory usage: 33.3+ MB

In [14]:
# Eliminar columnas duplicadas manteniendo la primera instancia

df_bs_ye = df_bs_ye.loc[:,~df_bs_ye.columns.duplicated()]

In [15]:
# Convertir campo ciudades a minusculas
df_bs_ye['city'] = df_bs_ye['city'].str.lower()

In [16]:
# Despliegue de nombres de ciudades para determinar si se encuentran las 10 ciudades objetivo

list(df_bs_ye['city'].unique())

['santa barbara',
 'affton',
 'tucson',
 'philadelphia',
 'green lane',
 'ashland city',
 'brentwood',
 'st. petersburg',
 'nashville',
 "land o' lakes",
 'tampa bay',
 'indianapolis',
 'clearwater',
 'largo',
 'new orleans',
 'kenner',
 'edmonton',
 'reno',
 'newtown',
 'white house',
 'boise',
 'paoli',
 'ardmore',
 'exton',
 'wilmington',
 'edwardsville',
 'sparks',
 'alton',
 'cherry hill',
 'bala cynwyd',
 'springfield',
 'belleville',
 'carmel',
 'tampa',
 'kennett square',
 'plymouth meeting',
 'harvey',
 'west chester',
 'meridian',
 'hudson',
 'fernley',
 'williamstown',
 'pinellas park',
 'glenolden',
 'wesley chapel',
 'fishers',
 'burlington',
 'troy',
 'camden',
 'plainfield',
 'bensalem',
 'maplewood',
 'saint louis',
 'fairview heights',
 'oro valley',
 'treasure island',
 'southampton',
 'chalfont',
 'willow grove',
 'voorhees',
 'tarpon springs',
 'blue bell',
 'metairie',
 'woodbury',
 'brownsburg',
 'norristown',
 'land o lakes',
 'greenwood',
 'saint petersburg',
 'brookhaven',
 'haverford',
 'glenside',
 'moorestown',
 'madison',
 'ewing',
 'levittown',
 'gloucester township',
 'aston',
 'riverview',
 'warrington',
 'wyncote',
 'st. louis',
 'havertown',
 'madeira beach',
 'lutz',
 'langhorne',
 'king of prussia',
 'smithton',
 'jenkintown',
 'new port richey',
 'avon',
 'normandy',
 'wayne',
 'franklin',
 'tuscon',
 'brandon',
 'berwyn',
 'st albert',
 'terra ceia',
 'delaware county',
 'hermitage',
 'doylestown',
 'temple terrace',
 'downingtown',
 'sherwood park',
 'virginia city',
 'trenton',
 'bellmawr',
 'marana',
 'belle chasse',
 'somerdale',
 'warminster',
 'smyrna',
 'chester',
 'odessa',
 'horsham',
 'valley forge',
 'apollo beach',
 'malvern',
 'maple shade',
 'lansdale',
 'st. pete beach',
 'ballwin',
 'cedarbrook',
 'spring hill',
 'goodlettsville',
 'villanova',
 'holiday',
 'narberth',
 'oldsmar',
 'bristol',
 'isla vista',
 'perkiomenville',
 'seminole',
 'gulfport',
 'glassboro',
 'haddonfield',
 'montgomeryville',
 'chesterfield',
 'fenton',
 'pennsville',
 'haddon heights',
 'morrisville',
 'goleta',
 'hazelwood',
 'view',
 'north wales',
 'upper darby',
 'elkins park',
 'medford',
 'st louis',
 'kingston springs',
 'noblesville',
 'mullica hill',
 'palmyra',
 'new hope',
 'st petersburg',
 'mount juliet',
 'buckingham',
 'mt. juliet',
 'media',
 'saint charles',
 'chalmette',
 'high ridge',
 'conshohocken',
 'hernando beach',
 'florissant',
 'sicklerville',
 'university city',
 'mooresville',
 'chadds ford',
 'woodstown',
 'plant city',
 'catalina foothills',
 'o fallon',
 'ruskin',
 'town and country',
 'lebanon',
 'bridgeton',
 'skippack',
 'bryn mawr',
 'safety harbor',
 'jennings',
 'eagle',
 'feasterville',
 'pottstown',
 'carpinteria',
 'marlton',
 'spring city',
 'valrico',
 'riverside',
 'lambertville',
 'creve coeur',
 'green valley',
 'ambler',
 'manchester',
 'hatfield',
 'st. charles',
 'clementon',
 'montecito',
 'godfrey',
 'florence township',
 'mascoutah',
 'trinity',
 'sewell',
 'yardley',
 'delran',
 'st. davids',
 'newark',
 'primos',
 'huntingdon valley',
 'bellair',
 'collingswood',
 'marrero',
 'mount laurel',
 'collingdale',
 'fort washington',
 'hendersonville',
 'silverdale',
 'limerick',
 'haddon township',
 'cinnaminson',
 'lionville',
 'oreland',
 'turnersville',
 'westwego',
 'prospect park',
 'cahokia',
 'port richey',
 'atco',
 'fountainville',
 'collegeville',
 'royersford',
 'dunedin',
 'bridgeport',
 'mount laurel township',
 'glen carbon',
 'roslyn',
 'west berlin',
 'huntingdon valley pa',
 'washington crossing',
 'zionsville',
 'st charles',
 'drexel hill',
 'verdi',
 'riverton',
 'folsom',
 "town 'n' country",
 'clearwater beach',
 'harleysville',
 'st pete beach',
 'lawnside',
 'pleasant view',
 'arnold',
 'thorndale',
 'seffner',
 'kimberton',
 'east norriton',
 'zephyrhills',
 'maryland heights',
 'overland',
 'schwenksville',
 'granite city',
 'dublin',
 'harahan',
 'warson woods',
 'flourtown',
 'old hickory',
 'sun city center',
 'franklinville',
 'palm harbor',
 'voorhees township',
 'oaks',
 'phoenixville',
 'temple terr',
 'pitman',
 'line lexington',
 'runnemede',
 'hockessin',
 'newtown square',
 'st. albert',
 'ferguson',
 'gretna',
 'fairless hills',
 'clifton heights',
 'des peres',
 'pennsauken',
 'trooper',
 'north redington beach',
 'ridley park',
 'earth city',
 'woodlyn',
 'avondale',
 'lumberton',
 'hatboro',
 'lahaska',
 'westville',
 'boothwyn',
 'woolwich twp',
 'saint ann',
 'kulpsville',
 'newport',
 'shiloh',
 'waterloo',
 'washington township',
 'wyndmoor',
 'brooklawn',
 'abington',
 'berlin',
 'darby',
 'bellevue',
 'glen mills',
 'souderton',
 'gallatin',
 'kirkwood',
 'speedway',
 'rosemont',
 'berkeley',
 'broomall',
 'la vergne',
 'mount holly',
 'perkasie',
 'new castle',
 'lithia',
 'barrington',
 'deptford township',
 'erdenheim',
 'westmont',
 'greenbrier',
 'pontoon beach',
 'lawrence',
 'sharon hill',
 'swedesboro',
 'cheltenham',
 'whiteland',
 'belleair',
 'antioch',
 'eddystone',
 'east greenville',
 'sellersville',
 'jefferson',
 'evesham township',
 'webster groves',
 'freeburg',
 'swarthmore',
 'frazer',
 'ewing township',
 'camby',
 'audubon ',
 'greater northdale',
 'shrewsbury',
 'oaklyn',
 'richmond heights',
 'collinsville',
 'mulberry',
 'woodbury heights',
 'deptford',
 'town & country',
 'hamilton',
 'whitestown',
 'willingboro township',
 'gibbsboro',
 'glendora',
 'stowe',
 'morton',
 'beaumont',
 'dover',
 "o'fallon",
 'sauget',
 'elmer',
 'swansea',
 'lansdowne',
 'garden city',
 'blackwood',
 'columbus',
 'richboro',
 'thonotosassa',
 'feasterville-trevose',
 'glenmoore',
 'holmes',
 'wenonah',
 'quakertown',
 'mount ephraim',
 'hainesport',
 'penns grove',
 'gilbertsville',
 'hamilton township',
 'claymont',
 'imperial',
 'essington',
 'gibsonton',
 'arabi',
 'eagleville',
 'mendenhall',
 'clayton',
 'maryville',
 'dresher',
 'penndel',
 'saint pete beach',
 'river ridge',
 'columbia',
 'crestwood',
 "land o'lakes",
 'lindenwold',
 'douglassville',
 'bosie',
 'maple shade township',
 'redington shores',
 'bordentown',
 'colmar',
 'secane',
 'terrytown',
 'lafayette hill',
 'drexel',
 'telford',
 'st.ann',
 'elverson',
 'rockledge',
 'mickleton',
 'greenville',
 'willingboro',
 'east saint louis',
 'woolwich township',
 'crum lynne',
 'hilltown',
 'spring house',
 'laurel springs',
 'croydon',
 'merchantville',
 'spanish springs',
 'westampton',
 'wimauma',
 'erial',
 'mt juliet',
 'mccordsville',
 'trappe',
 'shamong',
 'west deptford',
 'olivette',
 'treasure is',
 'secane ',
 'mt. laurel',
 'furlong',
 'oracle',
 'pass-a-grille',
 'norriton',
 'maryville ',
 'wood river',
 'mount royal',
 'danville',
 'sahuarita',
 'beech grove',
 'petersburg',
 'trevose',
 'paulsboro',
 'palmetto',
 'new palestine',
 'millstadt',
 'holland',
 'valley park',
 'jamison',
 'yeadon',
 'dupo',
 'plumsteadville',
 'mt laurel',
 'mont clare',
 'primos-secane',
 'audubon',
 'sun valley',
 'indian rocks beach',
 'scott afb',
 'jobstown',
 'flanders',
 'nashville-davidson metropolitan government (balance)',
 'wallingford',
 'wynnewood',
 'east lake',
 'nolensville',
 'philadephia',
 'boyertown',
 'tabernacle',
 'vineland',
 'caseyville',
 'reno ',
 'magnolia',
 'lester',
 'vail',
 'florence',
 'hillsborough county',
 'mansfield',
 'south cinnaminson',
 'garnet valley',
 'maple glen',
 'chester springs',
 'ybor city',
 'ladue',
 'edmundson',
 'masaryktown',
 'saint davids',
 'truckee',
 'waterford works',
 'tuson',
 'belleair bluffs',
 'penn valley',
 'belmont hills',
 'southport',
 'radnor',
 'st.rose',
 'lawrenceville',
 'glenn mills',
 'arizona',
 'bear',
 'newfield',
 'santa barbara ',
 'saint albert',
 'indian shores',
 'hammonton',
 'south pasadena',
 'folcroft',
 'gloucester city',
 'webster grvs',
 'west conshohocken',
 'devon',
 'meterie',
 'evesham',
 'berlin township',
 'redingtn shor',
 'feasterville trevose',
 'monroe township',
 'pennsburg',
 'frontenac',
 'new britain',
 'new prt rchy',
 'churchville',
 'elsmere',
 'boone',
 'mercerville',
 'rock hill',
 'linwood',
 'stratford',
 'merion park',
 'belle chase',
 'abington township',
 'twin oaks',
 'dade city',
 'fairmount park',
 'nw edmonton',
 'star',
 'staint albert',
 'sun city',
 'chesterbrook',
 'coatesville',
 'merion station',
 'murfreesboro',
 'salem',
 'titusville',
 'bridge city',
 'ventura',
 'lavergne',
 'indianpolis',
 'pittsgrove township',
 'spokane',
 'logan township',
 'talleyville',
 'roebling',
 'elmwood',
 'west norriton',
 'meadowbrook',
 'brooksville',
 'westtown',
 'sanatoga',
 'st louis downtown',
 'lemay',
 'ellisville',
 'phila',
 'oakville',
 'westchase',
 'westampton township',
 'lula lula',
 'sunset hills',
 'twn n cntry',
 'jeffersonville',
 'edgewater park',
 'breckenridge hills',
 'holland southampton',
 'pike creek',
 'balm',
 'royford',
 'pipersville',
 'delanco',
 'st.louis',
 'milmont park',
 'upper darby pa',
 'east lansdowne',
 'marcus hook',
 'lederach',
 'lemay ferry',
 'bywater',
 'kenneth city',
 'spruce grove',
 'thorofare',
 'carneys point',
 'town & county',
 'carrollwood',
 'dumont',
 'trainer',
 'southeastern',
 'pennington',
 'kuna',
 'upper southampton township',
 'west edmonton',
 'east alton',
 'concordville',
 'red hill',
 'national park',
 'greenfield',
 'unionville',
 'bucks',
 'montgomery',
 'new jersey',
 'bryn athyn',
 'east norristown',
 'mantua township',
 'clarksboro',
 'tinicum',
 'southeast edmonton',
 'jefferson parish',
 'east st louis',
 'eastampton',
 'st ann',
 'pagedale',
 'upper pittsgrove',
 'springhill',
 'burlington township',
 'summerland',
 'harrison township',
 'fairless',
 'w.chester',
 'scott air force base',
 'pinecrest west park',
 'toughkenamon',
 'plymouth township',
 'w cherry hill',
 'aldan',
 'pass-a-grille beach',
 'southwest philadelphia',
 'pemberton',
 'central tampa',
 'tierra verde',
 'washoe valley',
 'clermont',
 'indianapolis ',
 'pennsauken township',
 'hadden',
 'almonesson',
 'birchrunville',
 'joelton',
 'new pt richey',
 'port hueneme',
 'reno ap',
 'mount lemmon',
 'norwood',
 'st. ann',
 'charlack',
 'pegram',
 'boise city',
 'tucson ',
 'lawrence township',
 'ozona',
 'mehville',
 'pittsgrove',
 'erdenheim pa',
 'pine hill',
 'mandeville',
 'saintt petersburg',
 'bellville',
 'rosewood heights',
 'haddon twp',
 'east nashville',
 'marlborough',
 'east st. louis',
 'cortaro',
 'worcester',
 'upper chichester',
 'berry hill',
 'ashland',
 'south county',
 'bethalto',
 'valencia west',
 'tullytown',
 'mantua',
 'holicong',
 'saint john',
 'boise (meridian)',
 'rillito',
 'winslow',
 'fairview hts.',
 'gwynedd valley',
 'ste c',
 'philadelphia pa',
 'meridan',
 'ridley',
 'violet',
 'catalina',
 'upper gwynedd',
 'hartsville',
 'haddon',
 'pilesgrove',
 'west deptford townsh',
 'inglewood',
 'summerhaven',
 'parkside',
 'yardley boro',
 'chestnut hill',
 'meraux',
 'malaga',
 'west hill',
 'southwest tampa',
 'st. pete',
 'oldmans',
 'castleton',
 'cedar brook',
 'newtown township',
 'santa ynez',
 'casa adobes',
 'medford lakes',
 'mt. ephraim',
 'marshallton',
 'ivyland',
 '\u200blargo',
 'christiana',
 'beverly',
 'melrose park',
 'bordentown township',
 'hulmeville',
 's pasadena',
 'pennsville township',
 'southampton township',
 'oaklandon',
 'sappington',
 'town n country',
 'wyndlake condominium',
 'college place',
 'bensalem township',
 'ridley township',
 'lower providence',
 'mc cordsville',
 'corona de tucson',
 'washington park',
 'san antonio',
 'creve couer',
 'french quarter',
 'lower gwynedd township',
 'waggaman',
 'rose valley',
 'east tampa',
 'luling',
 'zieglerville',
 'kings beach',
 'bradenton',
 'donelson',
 'covington',
 'pennsaulen',
 'woodson terrace',
 'meridian ',
 'st pete',
 'mission canyon',
 'arrington',
 'franconia',
 'bargersville',
 'west alton',
 'nashville,',
 'mt laurel twp, nj',
 'gibbstown',
 'saint petersburg,',
 'philadelphila ',
 'citrus park',
 'gladwyne',
 'houston',
 'tren',
 'skippack village',
 'west mount holly',
 'upland',
 'horseshoe bend',
 'ofallon',
 'new berlinville',
 'hilltop',
 'saint rose',
 'tampa - north',
 'beech grove,',
 'gradyville',
 'thonosassa',
 'elk township',
 'devon-berwyn',
 'vincentown',
 'manayunk',
 'indian rocks beach. ',
 'bethel',
 'eaux claires',
 'st  louis',
 'los angeles',
 'glenoldan',
 'tucson, arizona',
 'clearwater,',
 'edgmont',
 'reno nevada',
 'winslow township',
 'concord township',
 'blvd',
 'north redington bch',
 'hartford',
 'maple shade nj',
 'parker ford',
 'had twp',
 'westmont - haddon towsship',
 'westfield',
 'st rose',
 'wilmington manor',
 'yorklyn',
 'saint bernard',
 'rushland',
 'west trenton',
 'denver',
 'cheltenham township',
 'lansdale ',
 'crosswicks',
 'wrightstown',
 'mt holly',
 'carversville',
 'green park',
 'st petersberg',
 'zephryhills',
 'cornwells heights',
 'vc highlands',
 'st. loius',
 'indianopolis',
 'palm harbor, fl',
 'echelon',
 'south roxana',
 'cottage hills',
 'oakford',
 'st.petersburg',
 'belleair blf',
 'tampa florida',
 'bristol twp',
 'kenneth',
 'pilgrim gardens',
 'trolley square',
 'kalispell',
 'north marlton',
 'glendale',
 'moorestown-lenola',
 'bayonet point',
 'tampa terrace',
 'pineville',
 'st. rose',
 '\u200bclayton',
 'lake saint louis',
 'mehlville',
 'shady hills',
 'bethel township',
 'cherry hil',
 'eagle,',
 'andalusia',
 'mt laurel township',
 'west  deptford',
 'belle meade',
 'west point',
 'nashville ap',
 'zieglersville',
 'cold springs',
 'washington twp',
 'woodbourne',
 'saint\xa0louis',
 'lower gwynedd',
 'earlington',
 'riveridge',
 'whites creek',
 'oxnard',
 'center city philadelphia',
 'north coventry',
 'lower merion',
 'chesilhurst',
 'land-o-lakes',
 'rural hill',
 'fairview hts',
 'centreville',
 'warwick',
 'strafford',
 '\u200blithia',
 'quinton',
 'cerritos',
 'claerwater',
 'eastampton township',
 'south tucson',
 'woolwich twp.',
 'nashville ',
 'downingtown,',
 'radnor township',
 'mechanicsville',
 'black jack',
 'new whiteland',
 'downtown',
 'roseville',
 'saint petersburg beach',
 'st. peters',
 'feastville',
 'chicago',
 'oldmans township',
 'wanamaker',
 'mt. holly',
 'phonixville',
 'kimmswick',
 'saint peters',
 'nixa',
 'freehold',
 'pilot sound area west portion',
 'gentilly',
 'hamiltion',
 'redington beach',
 'belleair beach',
 'lutz fl',
 'gwynedd',
 'nevada',
 'chester township',
 'montgomery township',
 'fortville',
 'fairview',
 'gardenville',
 'safety  harbor',
 'pleasant township',
 'thornton',
 'pinellas',
 'roxborough',
 'gulph mills',
 'bucks county',
 'danboro',
 'pasadena',
 'mt ephraim',
 'forest grove',
 'king of prussi',
 'drexel hil',
 'casas adobes',
 'hancock',
 'mt. airy',
 'swedesboro ',
 'hampton',
 'eddington',
 'hillsborough',
 'stroudsburg',
 'washington',
 'downtown indianapolis',
 'santa clara',
 'wayne/radnor',
 'mt.laurel',
 'mt.juliet',
 'monroeville',
 'crystal beach',
 'mississauga',
 'brentwood - cool springs',
 'kop',
 'virtual',
 'sassamansville',
 'fox street',
 'upper merion township',
 'washoe',
 'cumberland',
 'fairview village',
 'boise ',
 'sparks ',
 'conshohoeken',
 'norritown',
 'barnhart',
 'river view',
 'santa rita',
 'linfield',
 'peerless park',
 'bradenton beach',
 'pottsgrove',
 'nampa',
 'e saint louis',
 'san anselmo',
 'warrington township',
 'dunedin ',
 'knoxville',
 'n redington bch',
 'roxana',
 'drexel heights',
 'valencia',
 'fairmont city',
 'new orlaens',
 'sturgeon couny',
 'e. norristown',
 'richwood',
 'crystal springs',
 'whitehouse',
 'sparks nv',
 'feasterville-trevose, pa',
 'west philadelphia',
 'forest hills',
 ...]

In [17]:
city_list = [
    "atlanta",
    "boston",
    "dallas",
    "houston",
    "kansas",
    "los angeles",
    "miami",
    "new york",
    "new jersey",
    "philadelphia",
    "san francisco",
    "seattle"
]

In [18]:
# Mascara para filtrar dataset con ciudades objetivo

df_bs_ye_filtered = df_bs_ye[df_bs_ye['city'].isin(city_list)]

In [19]:
# Despliegue de resultados

list(df_bs_ye_filtered['city'].unique())

['philadelphia', 'new jersey', 'houston', 'los angeles', 'boston']

In [20]:


df_bs_ye_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14580 entries, 3 to 150336
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   14580 non-null  object
 1   name          14580 non-null  object
 2   address       14580 non-null  object
 3   city          14580 non-null  object
 4   state         14580 non-null  object
 5   postal_code   14580 non-null  object
 6   latitude      14580 non-null  object
 7   longitude     14580 non-null  object
 8   stars         14580 non-null  object
 9   review_count  14580 non-null  object
 10  is_open       14580 non-null  object
 11  attributes    13407 non-null  object
 12  categories    14571 non-null  object
 13  hours         11794 non-null  object
dtypes: object(14)
memory usage: 1.7+ MB

In [21]:
list(df_bs_ye_filtered['state'].unique())

['CA',
 'IN',
 'AZ',
 'PA',
 'NJ',
 'FL',
 'MO',
 'LA',
 'AB',
 'ID',
 'TN',
 'NV',
 'DE',
 'IL',
 'HI']

In [22]:
business_ids_of_interest = df_bs_ye_filtered['business_id'].unique()

In [23]:
df_rev_ye_filtered = df_rev_ye[df_rev_ye['business_id'].isin(business_ids_of_interest)]
df_rev_ye_filtered.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
5,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
13,8JFGBuHMoiNDyfcxuWNtrA,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,0,0,0,Good food--loved the gnocchi with marinara the...,2009-10-14 19:57:14
16,oyaMhzBSwfGgemSGuZCdwQ,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5,0,0,0,Tremendous service (Big shout out to Douglas) ...,2013-06-24 11:21:25

In [24]:
num_rows = df_rev_ye_filtered.shape[0].compute()
print(num_rows)

967890

In [27]:
# Exportar el DataFrame de negocios a un archivo Parquet
df_bs_ye_filtered.to_parquet('business_filtered.parquet')

# Reparticionar el DataFrame a una sola partición
df_rev_ye_filtered = df_rev_ye_filtered.repartition(npartitions=1)

# Guardar el DataFrame reparticionado en un solo archivo Parquet
df_rev_ye_filtered.to_parquet('reviews_filtered.parquet', write_index=True)

In [13]:
# Que tama;o tiene el archivo parquet de Reviews?

tamaño_del_archivo = os.path.getsize(r'.\reviews_filtered.parquet\part.0.parquet')
tamaño_en_kb = tamaño_del_archivo / 1024
tamaño_en_mb = tamaño_en_kb / 1024
tamaño_en_mb

421.29759407043457

### Dataset User yelp

In [17]:
df_user= pd.read_parquet(r'Datasetsyelp/user.parquet')
df_user

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105592,4QGxxakRZeOlg_qDuxmTeQ,Jennilee,38,2012-01-19 23:33:02,74,9,6,,kmwNG5LZSHFmveg6wYYdrw,0,...,1,0,0,0,1,4,0,0,1,0
2105593,tmelBbVBGAzXBVfH2u_R6g,Gerry,19,2009-06-09 16:34:54,14,5,2,,"BFYdCAMFyjYHDwesndEXEg, _9fTIqfSJc7g3V_o76XRVg...",1,...,1,0,0,0,0,1,0,0,0,0
2105594,tpBznnD6uJN3m_pJubj09w,Emily,26,2013-08-13 23:18:11,4,1,2,,"bKV3ly2MuK-K1cptMrFknQ, liel18zRoSB4tEkUP7i6Cg...",0,...,0,0,0,0,1,0,0,0,0,0
2105595,Kst_srPw7GdYydMFYdCtzw,Heatheranne,25,2015-01-10 00:06:25,21,2,5,,"dzHTk52vbGtbktRm_B-wEg, fOfFLV7IbBDN6lzARaLqdg...",0,...,0,0,0,0,0,1,0,0,0,0
2105596,mZl-mH3ZIWLRSd_FfvrXFg,Jessica,30,2015-11-30 21:10:17,27,1,17,,"pou3BbKsIozfH50rxmnMew, JT3rDC7-hprCSObnihMeHw...",3,...,0,1,0,0,0,1,0,0,1,0

In [18]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105597 entries, 0 to 2105596
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 353.4+ MB

In [19]:
df_user.describe()

,review_count,useful,funny,cool,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
count,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06,2.105597e+06
mean,2.846875e+01,5.516853e+01,2.267667e+01,3.143013e+01,1.913746e+00,3.641863e+00,2.444596e+00,3.968618e-01,2.532631e-01,1.858665e-01,9.631663e-02,1.921464e+00,4.124809e+00,3.805567e+00,3.805567e+00,1.459133e+00,1.499514e+00
std,1.042146e+02,7.388068e+02,4.628811e+02,6.379274e+02,2.436510e+01,1.159519e+00,7.963704e+01,1.405658e+01,1.767698e+01,1.170051e+01,1.049796e+01,6.177753e+01,1.364953e+02,1.057484e+02,1.057484e+02,3.676692e+01,9.607754e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.880000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.900000e+01,1.500000e+01,3.000000e+00,4.000000e+00,0.000000e+00,4.500000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.747300e+04,2.062960e+05,1.858230e+05,1.998780e+05,1.249700e+04,5.000000e+00,2.578400e+04,1.350100e+04,1.418000e+04,1.365400e+04,1.266900e+04,5.903100e+04,1.010970e+05,4.996700e+04,4.996700e+04,1.593400e+04,8.263000e+04

In [20]:
#Columnas existentes en la data
df_user.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [21]:
#Renombramos columnas
df_user.rename(columns={'yelping_since': 'since'}, inplace=True)
df_user.rename(columns={'average_stars': 'stars'}, inplace=True)
df_user

,user_id,name,review_count,since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105592,4QGxxakRZeOlg_qDuxmTeQ,Jennilee,38,2012-01-19 23:33:02,74,9,6,,kmwNG5LZSHFmveg6wYYdrw,0,...,1,0,0,0,1,4,0,0,1,0
2105593,tmelBbVBGAzXBVfH2u_R6g,Gerry,19,2009-06-09 16:34:54,14,5,2,,"BFYdCAMFyjYHDwesndEXEg, _9fTIqfSJc7g3V_o76XRVg...",1,...,1,0,0,0,0,1,0,0,0,0
2105594,tpBznnD6uJN3m_pJubj09w,Emily,26,2013-08-13 23:18:11,4,1,2,,"bKV3ly2MuK-K1cptMrFknQ, liel18zRoSB4tEkUP7i6Cg...",0,...,0,0,0,0,1,0,0,0,0,0
2105595,Kst_srPw7GdYydMFYdCtzw,Heatheranne,25,2015-01-10 00:06:25,21,2,5,,"dzHTk52vbGtbktRm_B-wEg, fOfFLV7IbBDN6lzARaLqdg...",0,...,0,0,0,0,0,1,0,0,0,0
2105596,mZl-mH3ZIWLRSd_FfvrXFg,Jessica,30,2015-11-30 21:10:17,27,1,17,,"pou3BbKsIozfH50rxmnMew, JT3rDC7-hprCSObnihMeHw...",3,...,0,1,0,0,0,1,0,0,1,0

In [22]:
#Ordenamos las columnas y eliminamos las columnas que no son relevantes en el analisis
columnas= ['user_id', 'name', 'since', 'review_count', 'fans', 'stars', 'friends']
df_user= df_user[columnas]
df_user

,user_id,name,since,review_count,fans,stars,friends
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,2007-01-25 16:47:26,585,267,3.91,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA..."
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,2009-01-25 04:35:42,4333,3138,3.74,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A..."
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,2008-07-25 10:41:00,665,52,3.32,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA..."
3,SZDeASXq7o05mMNLshsdIA,Gwen,2005-11-29 04:38:33,224,28,4.27,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg..."
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,2007-01-05 19:40:59,79,1,3.54,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA..."
...,...,...,...,...,...,...,...
2105592,4QGxxakRZeOlg_qDuxmTeQ,Jennilee,2012-01-19 23:33:02,38,0,2.98,kmwNG5LZSHFmveg6wYYdrw
2105593,tmelBbVBGAzXBVfH2u_R6g,Gerry,2009-06-09 16:34:54,19,1,3.68,"BFYdCAMFyjYHDwesndEXEg, _9fTIqfSJc7g3V_o76XRVg..."
2105594,tpBznnD6uJN3m_pJubj09w,Emily,2013-08-13 23:18:11,26,0,3.85,"bKV3ly2MuK-K1cptMrFknQ, liel18zRoSB4tEkUP7i6Cg..."
2105595,Kst_srPw7GdYydMFYdCtzw,Heatheranne,2015-01-10 00:06:25,25,0,2.85,"dzHTk52vbGtbktRm_B-wEg, fOfFLV7IbBDN6lzARaLqdg..."
2105596,mZl-mH3ZIWLRSd_FfvrXFg,Jessica,2015-11-30 21:10:17,30,3,4.13,"pou3BbKsIozfH50rxmnMew, JT3rDC7-hprCSObnihMeHw..."

In [23]:
df_user

,user_id,name,since,review_count,fans,stars,friends
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,2007-01-25 16:47:26,585,267,3.91,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA..."
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,2009-01-25 04:35:42,4333,3138,3.74,"ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A..."
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,2008-07-25 10:41:00,665,52,3.32,"LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA..."
3,SZDeASXq7o05mMNLshsdIA,Gwen,2005-11-29 04:38:33,224,28,4.27,"enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg..."
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,2007-01-05 19:40:59,79,1,3.54,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA..."
...,...,...,...,...,...,...,...
2105592,4QGxxakRZeOlg_qDuxmTeQ,Jennilee,2012-01-19 23:33:02,38,0,2.98,kmwNG5LZSHFmveg6wYYdrw
2105593,tmelBbVBGAzXBVfH2u_R6g,Gerry,2009-06-09 16:34:54,19,1,3.68,"BFYdCAMFyjYHDwesndEXEg, _9fTIqfSJc7g3V_o76XRVg..."
2105594,tpBznnD6uJN3m_pJubj09w,Emily,2013-08-13 23:18:11,26,0,3.85,"bKV3ly2MuK-K1cptMrFknQ, liel18zRoSB4tEkUP7i6Cg..."
2105595,Kst_srPw7GdYydMFYdCtzw,Heatheranne,2015-01-10 00:06:25,25,0,2.85,"dzHTk52vbGtbktRm_B-wEg, fOfFLV7IbBDN6lzARaLqdg..."
2105596,mZl-mH3ZIWLRSd_FfvrXFg,Jessica,2015-11-30 21:10:17,30,3,4.13,"pou3BbKsIozfH50rxmnMew, JT3rDC7-hprCSObnihMeHw..."

In [24]:
# Guardar el DataFrame reparticionado en un solo archivo Parquet
df_user.to_parquet('user_data.parquet', compression='gzip', index=False)